{% extends 'index.html'%}
{% load staticfiles %}
{% block main %}
<!--{% if username %}
<h1>Rango says... hello {{ username }}!</h1>
{% else %}
<h1>Rango says... hello world!</h1>
{% endif %}-->


<!-- price-->
<section id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 preamble">
        <h3>Наши кальчики или табаки</h3>
        <p class="lead">чет добавим</p>
      </div>
      <div class="col-md-4 pricing">
        <div class="pricing-column">
          <div class="pricing-header">
            <h2 class="price">300</h2>
            <h4 class="type">Classic</h4>
          </div>
          <ul class="pricing-features custom-list">
            <li><span><b>Табаки:</b> Adalya, Serbetli</span></li>
            <li><span><b>Колба:</b> вода</span></li>
            <li><span><b>Популярные вкусы:</b>Rotana </span></li>
            <li><span><b>Кальяны:</b> Khalil Mamoon, Amy Deluxe</span></li>
          </ul>
          <a href="/auth/order/" class="btn btn-order btn-red">Заказать</a>
        </div>
      </div>
      <div class="col-md-4 pricing">
        <div class="pricing-column">
          <div class="pricing-header">
            <h2 class="price">400</h2>
            <h4 class="type">Medium</h4>
          </div>
          <ul class="pricing-features custom-list">
            <li><span><b>Табаки:</b> Afzal, Al-fakher</span></li>
            <li><span><b>Колба:</b> Сок, Молоко, Чай</span></li>
            <li><span><b>Чаши:</b> Яблоко, Лимон</span></li>            
            <li><span><b>Кальяны:</b> Khalil Mamoon, Amy Deluxe</span></li>
          </ul>
          <a href="/auth/order/" class="btn btn-order btn-red">Заказать</a>
        </div>
      </div>
      <div class="col-md-4 pricing">
        <div class="pricing-column">
          <div class="pricing-header">
            <h2 class="price">600</h2>
            <h4 class="type">Premium</h4>
          </div>
          <ul class="pricing-features custom-list">
            <li><span><b>Табаки:</b> Starbuzz, Nakhla, Fumari</span></li>
            <li><span><b>Колба:</b> Сок, Молоко, Чай, Вино</span></li>
            <li><span><b>Чаши:</b> Апельсин, Лимон, Яблоко, Грейпфрукт</span></li>
                        <li><span><b>Кальяны:</b> Khalil Mamoon, Amy Deluxe</span></li>
          </ul>
          <a href="/auth/order/" class="btn btn-order btn-red">Заказать</a>
        </div>
      </div>
    </div>
  </div>
</section>


<!--<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 preamble">
        <h3>Калянчики</h3>
        <p class="lead">ну судите их строго</p>
      </div>
      <div class="col-md-4 person">
        <img src="{% static "img/Vova.jpg" %}" alt="Vova" class="img-responsive">
        <h4>Вова</h4>
        <p class="position"></p>
        <p></p>
      </div>
      <div class="col-md-4 person">
        <img src="{% static "img/gara.jpg" %}" alt="Gara" class="img-responsive">
        <h4>Влад</h4>
        <p class="position"></p>
        <p></p>
      </div>
    </div>
  </div>
</section>-->
{% endblock %}